body {
    background-color: #F0F0F0;
}

@font-face {
    font-family: "Inter";
    src: url('../font/Inter.ttf');
}

@font-face {
    font-family: "Krub";
    src: url('../font/Krub-Regular.ttf');
}

.menu {
    padding: 2em;
    display: flex;
    flex-direction: row;
}

.fontmenu {
    font-size: 1.3em;
    text-decoration: none;
    font-family: "Inter";
    color: black;
    padding-left: 8px;
}

.options {
    display: flex;
    padding-left: 18px;
}

.opc {
    display: flex;
    align-items: center;
    padding-left: 78px;
}

.txt-gato {
    font-family: "Krub";
    width: 700px;
    font-size: 1.3em;
}

/* PRIMEIRA SESSAO */

.btn-firstsess {
    padding: 15px 28px;
    font-size: 1.2em;
    font-family: "Inter";
    border: solid 2px;
}

.first-sess {
    padding: 100px;
    display: flex;
    flex-direction: row;
}


.moveis {
    display: flex;
    flex-direction: column;
}

#luzes {
    position: absolute;
    top: -200px;
    right: 380px;
    z-index: 1;
    opacity: 0;
    transition: opacity 3s, top 3s;
}

#sofa {
    position: absolute;
    top: 190px;
    right: 100px;
    width: 600px;
    opacity: 0;
    transition: opacity 3s, width 3s, top 3s, right 3s;
}

#mesa {
    position: absolute;
    top: 490px;
    opacity: 0;
    right: 0px;
    transition: opacity 1s, width 3s, top 3s, right 3s;
}

.seta {
    position: relative;
    left: 880px;
    top: 160px;
}

.entrar {
    position: absolute;
    right: 100px;
    display: flex;
    padding-top: 10px;
}

.ent{
    padding: 0;
}

.entrar img {
    padding-left: 10px;
}

/* SEGUNDA SESSAO */

.second-sess {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 240px;
}

.botao-vazio {
    border: none;
}

.topo {
    font-family: 'Inter';
    text-align: center;
}

.titulo {
    font-size: 3em;
}

.subtitulo {
    font-size: 1.4em;
}

.carrossel {
    display: flex;
    flex-direction: row;
}

.carr-moveis {

}

#cama {
    position: absolute;
}

#mesa {
    position: absolute;
}

#estante {
    position: absolute;
}

#comoda {
    position: absolute;
}

/* CADASTRO */

.baseCadastro{
    font-family: "Inter";
    top: 200px;
    left: 700px;
    width: 500px;
    border: solid 2px;
    padding: 60px;
    position: fixed;
    z-index: 1;
    background-color: white;
    display: none;
}

#btnFechar {
    display: block;
    margin-left: 450px;
    margin-top: -50px;
    background: none;
    border: none;
}

#btnFechar:hover {
    cursor: pointer;
}

.btnOpc {
    border: none;
    font-size: 1.1em;
}

.btnOpc:hover {
    cursor: pointer;
}

.btnCad{
    margin-top: 30px;
    width: 230px;
    align-self: center;
    background: none !important;
}

.btnCad:hover{
    background-color: #c7c7c7 !important;
    cursor: pointer;
}

.inputsCadastro{
    display: flex;
    flex-direction: column;
}

.inputCadastro {
    margin: 10px;
    height: 40px;
    background: none;
    border: solid 0px;
    border-bottom: solid 2px;
}

.inputCadastro:focus-visible{
    outline: none;
}

#nC {
    position: relative;
    top: 30px;
    left: 22px;
    font-size: 20px;
    transition: 0.2s ease all;
    pointer-events: none;
}

#nomeCompleto:focus-visible ~ #nC{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}
/* Animações */
.first-sess {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fim visível */
    }
}

/* CATÁLOGO */

.comodo{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
}

.cabeçalho h1{
    font-family: "Inter";
    font-size: 3.0em;
    padding-right: 50px;
}

.cabeçalho img{
    width: auto;
    height: 35px;
    padding-top: 43px;
}

.itens{
    display: flex;
    flex-direction: row;
}

.movel{
    display: flex;
    flex-direction: column;
    border: solid 2px;
    padding: 20px;
    margin-right: 40px;
    width: 230px;
}

.cores{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cores img{
    margin-top: 10px;
    margin-right: 5px;
}

.descrição{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

.descrição h2{
    margin-bottom:0px;
}

.linha{
    padding: 30px 100px;
}

.imgQuadro {
    background-color: white;
    border: solid 2px;
    width: 205px;
    margin-left: 13px;
    padding-left:  -200px;
    padding-right: -200px;
}

.sofa {
    position: relative;
    width: 250px; 
    height: auto;
    left: -23px;
}

.carrinho {
    text-align: right;
    display: flex;
    justify-content: right;
    filter: brightness(50%);
}

.carrinho button{
    border: none;
    background: none;
    font-size: 18px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.carrinho :hover{
    filter: brightness(40%);
}

