body {
    background-color: #F0F0F0;
}

@font-face {
    font-family: "Inter";
    src: url('../font/Inter.ttf');
}

@font-face {
    font-family: "Krub";
    src: url('../font/Krub-Regular.ttf');
}

.menu {
    padding: 2em;
    display: flex;
    flex-direction: row;
}

.fontmenu {
    font-size: 1.3em;
    text-decoration: none;
    font-family: "Inter";
    color: black;
    padding-left: 8px;
}

.options {
    display: flex;
    padding-left: 18px;
}

.opc {
    display: flex;
    align-items: center;
    padding-left: 78px;
}

.txt-gato {
    font-family: "Krub";
    width: 700px;
    font-size: 1.3em;
}

/* PRIMEIRA SESSAO */

.btn-firstsess {
    padding: 15px 28px;
    font-size: 1.2em;
    font-family: "Inter";
    border: solid 2px;
}

.first-sess {
    padding: 100px;
    display: flex;
    flex-direction: row;
}


.moveis {
    display: flex;
    flex-direction: column;
}

#luzes {
    position: absolute;
    top: -200px;
    right: 380px;
    z-index: 1;
    opacity: 0;
    transition: opacity 3s, top 3s;
}

#sofa {
    position: absolute;
    top: 190px;
    right: 100px;
    width: 600px;
    opacity: 0;
    transition: opacity 3s, width 3s, top 3s, right 3s;
}

#mesa {
    position: absolute;
    top: 490px;
    opacity: 0;
    right: 0px;
    transition: opacity 1s, width 3s, top 3s, right 3s;
}

.seta {
    position: relative;
    left: 880px;
    top: 160px;
}

.entrar {
    position: absolute;
    right: 100px;
    display: flex;
    padding-top: 10px;
}

.ent{
    padding: 0;
}

.entrar img {
    padding-left: 10px;
}

/* SEGUNDA SESSAO */

.second-sess {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 240px;
}

.botao-vazio {
    border: none;
}

.topo {
    font-family: 'Inter';
    text-align: center;
}

.titulo {
    font-size: 3em;
}

.subtitulo {
    font-size: 1.4em;
}

.carrossel {
    display: flex;
    flex-direction: row;
}

.carr-moveis {

}

#cama {
    position: absolute;
}

#mesa {
    position: absolute;
}

#estante {
    position: absolute;
}

#comoda {
    position: absolute;
}

/* CADASTRO */

.baseCadastro{
    font-family: "Inter";
    width: 500px;
    border: solid 2px;
    padding: 30px;
}

#fechar {
    margin-left: 330px;
}

.btnCad{
    margin-top: 30px;
    width: 230px;
    align-self: center;
}

.inputsCadastro{
    display: flex;
    flex-direction: column;
}

.inputCadastro {
    margin: 10px;
    height: 40px;
    background: none;
    border: solid 0px;
    border-bottom: solid 2px;
}

.inputCadastro:focus-visible{
    outline: none;
}

label {
    position: relative;
    top: 30px;
    left: 22px;
    font-size: 20px;
    transition: 0.2s ease all;
    pointer-events: none;
}

.inputCadastro:focus-visible ~ label{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}
/* Animações */
.first-sess {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fim visível */
    }
}

/* CATÁLOGO */

.comodo{
    display: flex;
    flex-direction: column;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
}

.cabeçalho h1{
    font-family: "Inter";
    font-size: 3.0em;
    padding-right: 50px;
}

.cabeçalho img{
    width: auto;
    height: 35px;
    padding-top: 43px;
}

.itens{
    display: flex;
    flex-direction: row;
}

.movel{
    display: flex;
    flex-direction: column;
}

.cores{
    display: flex;
    flex-direction: row;
}

.descrição{
    display: flex;
    flex-direction: column;
}

.linha{
    padding: 30px 100px;
}
